.feed {
  flex: 0.4;
  height: 100vh;
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feedHeader {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  border-bottom: 1px solid rgb(177,177,177);
  padding: 20px 20px;
  z-index: 100;
  font-size: 18px;
  font-weight: 800;

  display: flex;
}

.homeTitle{
  font-size: 24px;
}

