.peepBox {
  padding: 20px;
  display: flex;
  align-items:center;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.form {
  display:flex;
  align-items:center;
  flex: 1;
  justify-content: space-between;
}

.peepBoxInput {
  border: none;
  font-size: 16px;
  outline: none;
  background:transparent;
  width:350px;
}

.peepBox__peepButton{
  position: relative; 
  overflow: hidden;
  border: 1px solid #FF9500;
  cursor: pointer;
  background-color: #FF9500;
  height: 40px;
  width: 80px;
  color: #fafafa;
  border-radius: 20px;
  font-weight: 900;
  transition: color 0.25s ease;
}

.peepBox__peepButton:hover {
  color: #FF9500;
}

.peepBox__peepButton span {
  position: relative;
  z-index: 1;
}

.peepBox__peepButton::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  background: #fafafa;
  border-radius: 2px;
  left: -100%;
  top: 50%;
  width: 100%;
  transform: translateY(-50%) scale(1);
  transform-origin: left center;
  transition: transform 0.25s ease;
  z-index: 0;
}

.peepBox__peepButton:hover::before {
  transform: translateY(-50%) scale(2);
}



