.rightSidebar {
  flex: 0.3;
  padding: 20px;
  border-left: 1px solid rgb(177, 177, 177);
}

.rightSidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: rgb(225, 225, 225);
  border-radius: 9999px;
  padding: 10px 16px;
  margin-bottom: 20px;
}

.rightSidebar__searchIcon {
  color: #6f808d;
}

.rightSidebar__search {
  border: none;
  padding-left: 5px;
  background: transparent;
  font-size: 15px;
  width: 100%;
  outline: none;
}

.rightSidebar__card {
  background-color: rgb(239, 239, 239);
  border-radius: 24px;
}

.rightSidebar__cardTitle {
  margin: 0;
  padding: 20px 20px 15px 20px;
  font-size: 18px;
  font-weight: 900; /*make it more bold than home*/
}

.rightSidebar__divider {
  width: 100%;
  border-top: 1px solid rgb(223, 223, 223);
}

.rightSidebar__profile {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.rightSidebar__profile:hover {
  background-color: rgb(219, 218, 218);
}

.rightSidebar__profilePic {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.rightSidebar__profilePic img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.rightSidebar__profileInfo {
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
}

.rightSidebar__displayName {
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.rightSidebar__userName {
  display: block;
  font-size: 14px;
  color: rgb(177, 177, 177);
}

.rightSidebar__followButton {
  background-color: transparent;
  border: 1px solid #FF9500;
  border-radius: 16px;
  color: #FF9500;
  padding: 6px 16px;
  font-weight: 900;
  cursor: pointer;
}

.rightSidebar__followButton.followed {
  background-color: #FF9500;
  color: #fafafa;
}

.rightSidebar__showMore {
  display: block;
  padding: 15px 20px 20px 20px;
  text-decoration: none;
  color: #FF9500;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.rightSidebar__showMore:hover {
  background-color: rgb(219, 218, 218);
}
