.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
}

.peepButton {
  position: relative; 
  overflow: hidden;
  border: 2px solid #FF9500;
  cursor: pointer;
  background-color: #FF9500;
  height: 40px;
  width: 220px;
  color: #fafafa;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: 900;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15);
  transition: color 0.25s ease;
}

.peepButton:hover {
  color: #FF9500;
}

.peepButton span {
  position: relative;
  z-index: 1;
}

.peepButton::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  background: #fafafa;
  border-radius: 50%;
  left: -100%;
  top: 50%;
  width: 100%;
  transform: translateY(-50%) scale(1);
  transform-origin: left center;
  transition: transform 0.25s ease;
  z-index: 0;
}

.peepButton:hover::before {
  transform: translateY(-50%) scale(2);
}