.sidebar {
  display: flex;
  flex-direction: column;
  padding:20px;
  background-color: #fafafa;
  border-right: 1px solid rgb(177, 177, 177);
  min-width: 250px;
  flex: 0.3;

}

.sidebar__logo {
  display: flex;
  align-items: center;
  color: #FF9500;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  gap: 8px;
}

