.sidebarSec {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 30px;
  font-weight: 700;
  transition: background-color 0.2s ease-out;
  font-size: 24px;
  width: fit-content;
}

.sidebarSec:hover {
  background-color: rgba(246, 143, 0, 0.1);

}

.sidebarSec h2 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  transition: color 200ms ease-out;
}

.sidebarIcon {
  margin-right: 15px;
  transition: color 200ms ease-out;
}

.sidebarSec:hover .sidebarIcon {
  color: #FF9500;
  max-width: 50px;
}

.sidebarSec:hover h2 {
  color: #FF9500;
}

.sidebarSec--active{
  color: #FF9500;
}
